.formdesign{
    padding-top: 5rem;
    background-image: url('birla/2.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 42.5rem 100%;
    margin-top: 10rem;
    padding-left: 14px;
    padding-bottom: 14px;
    padding-right: 14px;
  
}