.formdesign{
    padding-top: 2rem;
    background-image: url('birla/2.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    background-size: 42.5rem 100%;
    margin-top: 10rem;
    padding-left: 14px;
    padding-bottom: 14px;
    padding-right: 14px;
  
}

.inlinedivs{
    display: flex;
    margin-right: 40px;
}
#form2{
    left: 450px;


}
.container{
    width : 360px;
    height: 400px;
    margin: 8% auto;
    background: #fff;
    border-radius: 5;
    position: relative;
  
}